boby{
    font-family: 'Poppins', sans-serif;
}

.Orange-color{
    color: orangered;
}
#border-added{
    font-size: 60px;
    margin-top: 150px;
    margin-left: 30px;
    padding-left: 10px;
    border-left: 7px solid;
    border-image: linear-gradient(green,tomato) ;
    border-image-slice: 1;
}
#pera{
    margin-left: 35px;
    font-size: 20px;
}
.flexxi{
    display: flex;
}
.Half{
    width: 50%;
    margin-left: 70px;
}
.Half img{
    width: 60%;
}
.Button{
    text-decoration: none;
    font-size: 20px;
    background-image: linear-gradient(orangered,tomato);
    font-weight: 700;
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
}
.MVG{
    display: flex;
    padding: 10px 80px 40px;
}
#Mission{
    width: 25%;
    margin: 20px;
    margin-left: 70px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px;
    background-color: salmon;
}
#Mission img{
    width: 50%;
}
#Vission{
    width: 25%;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px;
    background-color: rgb(125, 139, 102); 
}
#Vission img{
    width: 50%;
}
#Goals{
    width: 25%;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px;
    background-color: lightskyblue; 
}
#Goals img{
    width: 50%;
}
.Dev-area{
    background-image: url(Photos/shapes/shape-1.png);
    margin-left: 200px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 200px;
}
.Dev{
    width: 60%;
    padding-right: 100px;
}
.Dev img{
    width: 75%;
    margin-left: 100px;
}

.Global-area{
    background-image: url(Photos/shapes/shape-1.png);
    margin: 40px;
    margin-right: 100px;
    background-position: right;
    background-repeat: no-repeat;
    background-size: 200px;
}
.Global{
    width: 50%;
    margin-left: 70px;
    padding: 50px;
}
.Global img{
    width: 75%;
    margin-left: 100px;
}

#Covid-19{
    background-color:rgb(78, 78, 145);
    color: white;
    width: 50%;
    margin: 20px;
    margin-left: 300px;
    text-align: center;
    padding: 20px;
    margin-right: 150px;
    border-radius: 20px;  
}
#yes{
    background-color: darkgreen;
    border-radius: 10%;
    color: white;
}
#no{
    background-color: red;
    border-radius: 10%;
    color: white;
}
#Foot{
    background-color: black;
    height: 120px;
    color:cornflowerblue;
    text-align: center;
}